html, body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

*, body, ul, li, h1, h2, h3, h4, h5, p, img,
*::before, ul::before, ul::after,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: inherit;
}

a, a:hover, a:focus {
  text-decoration: none;
}
